<div class="nav-grid-wrapper">
            <div class="item1" id="picture_nav_bar">
                <a href={{ url_for('index_page') }}>
                    <img class="resize" alt="Feuerwehr Logo" src="{{url_for('static',filename='styles/pictures/FW_Aktualisierung_Neu.png') }}">
                </a>
            </div>
            <div class="nav-links item2">
                <ul id="text_nav_bar">
                    <li>
                        <a href={{ url_for('index_page') }}>Home</a>
                    </li>
                    <li>
                        <a href={{ url_for('choose_emergency_operation') }}>Einsätze</a>
                    </li>
                    <li>
                        <a href={{ url_for('gallery_page') }}>Galerie</a>
                    </li>
                    <li>
                        <a href={{ url_for('gallery_page') }}>Impressum</a>
                    </li>
                    <li>
                        <a href={{ url_for('wiki_search') }}>Dienste</a>
                    </li>

                </ul>

                <!-- Mobile Menu -->

                <ul id="icon_nav_bar" class="hidden_element">
                    <li>
                        <a href={{ url_for('index_page') }}>
                            <img class="resize_nav_items" id="icon_nav_bar" src="{{url_for('static',filename='styles/icons/home.svg') }}">
                        </a>
                    </li>
                    <li>
                        <a href={{ url_for('choose_emergency_operation') }}>
                            <img class="resize_nav_items" id="icon_nav_bar" src="{{url_for('static',filename='styles/icons/emergency.svg') }}">
                        </a>
                    </li>
                    <li>
                        <a href={{ url_for('gallery_page') }}>
                            <img class="resize_nav_items" id="icon_nav_bar" src="{{url_for('static',filename='styles/icons/photo_library.svg') }}">
                        </a>
                    </li>
                    <li>
                        <a href={{ url_for('wiki_search') }}>
                            <img class="resize_nav_items" id="icon_nav_bar" src="{{url_for('static',filename='styles/icons/puzzle.svg') }}">
                        </a>
                    </li>
                    <li>
                        <a href={{ url_for('gallery_page')}}>
                            <img class="resize_nav_items" id="icon_nav_bar" src="{{url_for('static',filename='styles/icons/info.svg') }}">
                        </a>
                    </li>
                </ul>
            </div>
            <!-- display login items -->
            <div class="item3 login_icons">
                <a href={{ url_for('login_page') }}>
                    <img class="login_icon_element resize_nav_items" alt="Feuerwehr Logo" src="{{url_for('static',filename='styles/icons/login_white_24dp.svg') }}">
                </a>
                <a href={{ url_for('registration_page') }}>
                    <img class="login_icon_element resize_nav_items" alt="Feuerwehr Logo" src="{{url_for('static',filename='styles/icons/account_circle_white_24dp.svg') }}">
                </a>
            </div>
        </div>