$darkblue-background: #001133;

$gradient-lightblue: #1C6EA4;
$gradient-lightblue-R: 28;
$gradient-lightblue-G: 110;
$gradient-lightblue-B: 164;

$gradient-darkblue: #144E75;

$gradient-reallydarkblue: #072341;
$gradient-reallydarkblue-R: 7;
$gradient-reallydarkblue-G: 35;
$gradient-reallydarkblue-B: 65;

$textcolor-darkmode: white;
$textcolor-alert: #272727;

$error-red: #ff4a4a;
$success-green: #adff2f;



$mobile-font-size: calc((2vh + 2vw)/2)